# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]

# Ignore generated analysis/output artifacts in the active src layout
src/Analysis/**
src/Output/**

# Deep Learning isolate
src/Bi_FAST/

# Data folders (keep structure only)
src/Data_MLA/Kronos/Crypto/*
!src/Data_MLA/Kronos/Crypto/.gitkeep
src/Data_MLA/Kronos/Stocks/*
!src/Data_MLA/Kronos/Stocks/.gitkeep
src/Data_MLA/Kronos/Commodities/*
!src/Data_MLA/Kronos/Commodities/.gitkeep

src/Data_MLA/Fincast/Crypto/*
!src/Data_MLA/Fincast/Crypto/.gitkeep
src/Data_MLA/Fincast/Stocks/*
!src/Data_MLA/Fincast/Stocks/.gitkeep
src/Data_MLA/Fincast/Commodities/*
!src/Data_MLA/Fincast/Commodities/.gitkeep

src/Data_MLA/Tirex/Crypto/*
!src/Data_MLA/Tirex/Crypto/.gitkeep
src/Data_MLA/Tirex/Stocks/*
!src/Data_MLA/Tirex/Stocks/.gitkeep
src/Data_MLA/Tirex/Commodities/*
!src/Data_MLA/Tirex/Commodities/.gitkeep

src/Data_MLA/Chronos2/Crypto/*
!src/Data_MLA/Chronos2/Crypto/.gitkeep
src/Data_MLA/Chronos2/Stocks/*
!src/Data_MLA/Chronos2/Stocks/.gitkeep
src/Data_MLA/Chronos2/Commodities/*
!src/Data_MLA/Chronos2/Commodities/.gitkeep

# IDE specific files
.idea